{% load staticfiles %}

{% block content %}

<div id="Header">
	<link rel="stylesheet" type="text/css" href="static/index.css">
	<div id="rect"></div>
	<title> SkyPy - The Offical Makerspace Hub! </title>
	<h1> SkyPy </h1>
	<p> Welcome To SkyPy! The Offical Makerspace Hub </p>
	<form id="full_login_form" action="/login/" method="post">
		<div class="user_pass"> Username </div>
		<input type="text" name="username" class="login"><br>
		<div class="user_pass"> Password </div>
		<input type="password" name="password" class="login"><br>
		<input type="submit" name="submit" value="Login" id="submit">
	</form>
</div>

{% endblock %}
