#Header {
	text-align: center;
}

#full_login_form {
	padding-top: 150px;
}

#rect {
	border: inset black 5px;
	top:0px;
	left:0px;
	width:calc(100vw - 10px);
	height:100px;
	background:gray;
	position: absolute;
	z-index: -1;
}

.login {
	position: relative;
	top: 10px;
	font-size: 30px;
	text-align: center;
	border: solid 1px;
	border-radius:10px;
}

.user_pass {
	position: relative;
	top: 10px;
	font-size: 15px;
}

#submit {
	position: relative;
	top: 20px;
	font-size: 15px;
}