<!DOCTYPE html>
<html>
	<link rel="stylesheet" type="text/css" href="avatar.css">
	
	<body>
		<canvas id="myCanvas"> </canvas>
		
		<img id="head" class="avatarPart skin" src="parts/head/head (1).png" alt="Head">
		<img id="mouth" class="avatarPart" src="parts/mouth/mouth (1).png" alt="Mouth">
		<img id="nose" class="avatarPart skin" src="parts/nose/nose (1).png" alt="Nose">
		<img id="eye" class="avatarPart" src="parts/eye/eye (1).png" alt="Eye">
		<img id="brow" class="avatarPart" src="parts/brow/brow (1).png" alt="Brow">
		
		<script src="avatar.js"> </script>

		<div id="buttons">
			<br>
			head
			<button onclick="changeImgLeft('head')"><</button>
			<button onclick="changeImgRight('head')">></button>
			<br>
			mouth
			<button onclick="changeImgLeft('mouth')"><</button>
			<button onclick="changeImgRight('mouth')">></button>
			<br>
			nose
			<button onclick="changeImgLeft('nose')"><</button>
			<button onclick="changeImgRight('nose')">></button>
			<br>
			eyes
			<button onclick="changeImgLeft('eye')"><</button>
			<button onclick="changeImgRight('eye')">></button>
			<br>
			eyebrow
			<button onclick="changeImgLeft('brow')"><</button>
			<button onclick="changeImgRight('brow')">></button>
			<br>
			skin
			<button onclick="colorSkinLeft()"><</button>
			<button onclick="colorSkinRight()">></button>
			<br>
			eye
			<button onclick="colorEyeLeft()"><</button>
			<button onclick="colorEyeRight()">></button>
		</div>

	</body>
</html>

