<html>

	{% include 'indexback.html' %}

	<div id="forms">
	
	<h3> <u> Login </u> </h3>
	
	<form action="/LogIn" method="Post">
	  Username:<br>
	  <input type="text" name="username"><br>
	  Password:<br>
	  <input type="password" name="password">
	  <br> <br>
	  <input type="submit" name="Submit" value="Log in">
	</form>
	 
	<form action="/SignUpPage" method="Post">
	  <input type="submit" name="Submit" value="Sign up">
	</form>
	
	{% if message %}
		<p><strong> {{ message }} </strong>
	{% endif %}
	
	</div>
 </html>